* {
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
}

section {
    min-height: 720px;
    background-color: #F3D7B7;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    max-width: 1340px;
    width: 100%;
}

.section__texts {
    max-width: 372px;
    width: 100%;
    margin-top: 135px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.images {
    background-image: url(./images/Rectangle\ 679.svg);
    max-width: 660px;
    width: 100%;
    height: 390px;
    margin-top: 135px;
    position: relative;
}

.section__parent2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.logo2 {
    max-width: 160px;
    width: 100%;
    transform: rotate(-25deg);
    position: absolute;
    top: -100px;
    left: -100px;
}

@media screen and (max-width:1030px) {
    .section__parent2 {
        padding-bottom: 50px;
    }
}

@media screen and (max-width:815px) {
    .images {
        max-width: 500px;
        width: 100%;
    }

    .logo2 {
        max-width: 100px;
    }
}

@media screen and (max-width:814px) {
    .images {
        max-width: 400px;
        width: 100%;
    }

    .logo2 {
        max-width: 80px;
        top: -50px;
        left: -40px;
    }
}

.section2 {
    min-height: 740px;
    background-color: white;
}

.section__text2 {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.section__parent3 {
    padding-top: 160px;
    padding-left: 55px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width:1211px) {
    .section__parent3 {
        flex-direction: column;
        gap: 100px;
    }
    .sections__img {
        top: 500px;
        right: 600px;


    }
    .section3 {
        flex-direction: column;
    }
}

.section3 {
    max-height: 510px;
    background-color: #C99B67;
    display: flex;
    justify-content: space-around;
    position:relative;
}

.text {
    color: white;
}

.section__text3 {
    max-width: 639px;
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 29px;
    position: absolute;
    left: 60px;
}

.sections__img {
    min-width: 566px;
    min-height: 552px;
    position: absolute;
    left: 820px;
    bottom: 350px;
}
footer{
    min-height: 160px;
    background-color: #F3D7B7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
ul li{
    list-style: none;
}
.footer__text{
    display: flex;
    gap: 40px;
}

@media screen and (max-width:509px) {
    footer{
        flex-direction: column;
    }
}


